# SOME LIGHT THEMES
# theme = "github_light_colorblind"
# theme = "onelight"
 
# A FEW DARK THEMES
# theme = "monokai_pro"
theme = "github_dark"
# theme = "kanagawa"
# theme = "sonokai"
# theme = "onedark"

[editor]
bufferline = "multiple" # show opened buffers as tabs, when more than one exists.
true-color = true
color-modes = true      # Change color for helix modes (NOR, INS, SEL...)
cursorline = true       # Highlight the line the cursor is currently on
# Minimum severity to show a diagnostic after the end of a line
end-of-line-diagnostics = "hint" # On test
# Trim whitespace preceding line endings on write (default false)
trim-trailing-whitespace = true
# Trim extra line endings after the final one on write (default false)
trim-final-newlines = true

[editor.inline-diagnostics]
cursor-line = "error"   # Show inline diagnostics when the cursor is on the line
other-lines = "disable" # Don't expand diagnostics unless the cursor is on the line

[editor.lsp]
auto-signature-help = false # Prevent automatic signature popup
display-messages = true     # Show LSP messages in the status line

[editor.indent-guides]
render = true
character = "▏" # Some characters that work well: "▏", "┆", "┊", "⸽", "╎"
skip-levels = 1

[editor.cursor-shape]
insert = "block"
normal = "block"
select = "underline"

[editor.soft-wrap]
enable = true
wrap-indicator = "" # set wrap-indicator to "" to hide it

[editor.statusline]
# Default for the left part: ["mode", "spinner", "file-name", "read-only-indicator", "file-modification-indicator"]
left = [
  "mode",
  "spinner",
  "version-control",
  "file-name",
  "read-only-indicator",
  "file-modification-indicator",
]
# Default for right part: ["diagnostics", "selections", "register", "position", "file-encoding"]
right = [
  "diagnostics",
  "selections",
  "register",
  "position",
  "position-percentage",
  "file-encoding",
  "file-type",
]


##############################################################
# Key bindings
##############################################################

[keys.insert]
C-space = "signature_help" # Show signature popup. Close it with ctrl+c

[keys.normal]
# Move lines up and down:
"A-j" = ["extend_to_line_bounds", "delete_selection", "paste_after"]
"A-k" = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_up",
  "paste_before",
]
# Use Shift+X to select line above or unselect line
X = "select_line_above"
x = "select_line_below"

[keys.select]
# Use Shift+X to select line above or unselect line
X = "select_line_above"

[keys.normal."space"]
o = "file_picker_in_current_buffer_directory"
